*{
margin: 0;
padding:0;
box-sizing:border-box;
font-family:sans-serif
}
html , body{
height: 100%;
width: 100%;

}
body {
    font-family: Arial, sans-serif;
   
}

nav {
    background-color: #333;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
}
nav a:hover {
    text-decoration: underline;
}

#movie-detail {
    max-width: 800px;
    margin: 20px auto;
    background: rgb(34, 37, 59);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: white;
}

#movie-detail h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
}

#movie-detail img {
    width: 300px; /* Full width */
    height: 400px; /* Maintain aspect ratio */
    border-radius: 8px; /* Rounded corners */
    margin-bottom: 15px; /* Spacing below image */
    image-rendering: crisp-edges; /* Improve clarity */
}

#movie-detail p {
    font-size: 16px;
    line-height: 1.5;
    margin: 5px 0;
    color: white;
}

